themes {
    current {
        text_unselected {
            base 200 206 217
            background 104 97 99
            emphasis_0 167 157 187
            emphasis_1 187 244 255
            emphasis_2 161 223 255
            emphasis_3 183 184 246
        }
        text_selected {
            base 200 206 217
            background 104 97 99
            emphasis_0 167 157 187
            emphasis_1 187 244 255
            emphasis_2 161 223 255
            emphasis_3 183 184 246
        }
        ribbon_selected {
            base 104 97 99
            background 161 223 255
            emphasis_0 174 160 204
            emphasis_1 167 157 187
            emphasis_2 183 184 246
            emphasis_3 128 145 190
        }
        ribbon_unselected {
            base 104 97 99
            background 200 206 217
            emphasis_0 174 160 204
            emphasis_1 200 206 217
            emphasis_2 128 145 190
            emphasis_3 183 184 246
        }
        table_title {
            base 161 223 255
            background 0
            emphasis_0 167 157 187
            emphasis_1 187 244 255
            emphasis_2 161 223 255
            emphasis_3 183 184 246
        }
        table_cell_selected {
            base 200 206 217
            background 104 97 99
            emphasis_0 167 157 187
            emphasis_1 187 244 255
            emphasis_2 161 223 255
            emphasis_3 183 184 246
        }
        table_cell_unselected {
            base 200 206 217
            background 104 97 99
            emphasis_0 167 157 187
            emphasis_1 187 244 255
            emphasis_2 161 223 255
            emphasis_3 183 184 246
        }
        list_selected {
            base 200 206 217
            background 104 97 99
            emphasis_0 167 157 187
            emphasis_1 187 244 255
            emphasis_2 161 223 255
            emphasis_3 183 184 246
        }
        list_unselected {
            base 200 206 217
            background 104 97 99
            emphasis_0 167 157 187
            emphasis_1 187 244 255
            emphasis_2 161 223 255
            emphasis_3 183 184 246
        }
        frame_selected {
            base 161 223 255
            background 0
            emphasis_0 167 157 187
            emphasis_1 187 244 255
            emphasis_2 183 184 246
            emphasis_3 0
        }
        frame_highlight {
            base 167 157 187
            background 0
            emphasis_0 183 184 246
            emphasis_1 167 157 187
            emphasis_2 167 157 187
            emphasis_3 167 157 187
        }
        exit_code_success {
            base 161 223 255
            background 0
            emphasis_0 187 244 255
            emphasis_1 104 97 99
            emphasis_2 183 184 246
            emphasis_3 128 145 190
        }
        exit_code_error {
            base 174 160 204
            background 0
            emphasis_0 185 249 255
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 183 184 246
            player_2 128 145 190
            player_3 0
            player_4 185 249 255
            player_5 187 244 255
            player_6 0
            player_7 174 160 204
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
