[Unit]
Description=Automatically update Ricks Hyprland every week

[Timer]
OnCalendar=Sun *-*-* 10:00:00
Persistent=true

[Install]
WantedBy=timers.target
